<html>
<head>
	<title>iFit Pedaler</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		window.onload = onLoad
		function onLoad(){
			$('button[id^="stop"]').click (function() { 
				gpio = $(this).attr('id').replace(/stop/g, '')
				onStop (gpio) 
			})
		}
		
		setTimeout(function(){
            window.location.reload(1);
        }, 5000);
        
        function onStop(bcmValue){
			history.pushState(null,"","?bcmPin=" + bcmValue)
			$.ajax({
				url: "stop",
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify({ bcmPin: bcmValue }),
				dataType: "json",
				success: function (result){
					$("#status").html(" Stopped!")
				},
				error:function(err){
					$("#status").html(" Error :(")
				}
			})
		}
	</script>
</head>
<body>
	<h1>iFit Pedaler Status</h1>
	<table id="statusTable">
		<thead>
			<tr>
				<th>Pin #</th>
				<th>RPM</th>
				<th>Is Active?</th>
				<th>Edit</th>
			</tr>
		</thead>
		{% if deviceData %}
		<tbody>
			{% for device in deviceData %}
			<tr>
				<td>{{device.bcmPin}}</td>
				<td>{{device.rpm}}</td>
				<td>{{device.keepRunning}}</td>
				<td><a href='/edit?bcmPin={{device.bcmPin}}'><button>&#9999;</button></a><button id='stop{{device.bcmPin}}'>X</button></a></td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>
	<br>
	<br>
	<a href='/edit?bcmPin=0'><button>Add New Device</button></a>
</body>
</html>
