<html>
<head>
	<title>Shortbus (RS-485) Manager</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>-->
	<script type="text/javascript">
		window.onload = onLoad
		function onLoad(){
			$("#submit").click (function(){ onSubmit(); });
			$("#monitor").click (function(){ onMonitor(); });
			$("#spoofer").click (function(){ onSpoofer(); });
			$("#stopOperation").click (function(){ onStop(); });
			$("#startPedal").click (function(){ onPedal(true); });
			$("#stopPedal").click (function(){ onPedal(false); });
		}		
		function onMonitor(){
			$.ajax({
				url: "rs485/monitor",
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify({ }),
				dataType: "json",
				success: function (result){
					console.log(result);
					$("#currentMode").html(result.mode);
					$("#modeMsg").html(result.msg);
				},
				error:function(err){
					console.log(err);
					$("#currentMode").html(err.mode);
					$("#modeMsg").html(err.status + " -- " + err.msg);
				}
			});
		}
		function onSpoofer(){
			$.ajax({
				url: "rs485/spoofer",
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify({ }),
				dataType: "json",
				success: function (result){
					console.log(result);
					$("#currentMode").html(result.mode);
					$("#modeMsg").html(result.msg);
				},
				error:function(err){
					console.log(err);
					$("#currentMode").html(err.mode);
					$("#modeMsg").html(err.status + " -- " + err.msg);
				}
			});
		}
		function onStop(){
			$.ajax({
				url: "rs485/stop",
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify({ }),
				dataType: "json",
				success: function (result){
					console.log(result);
					$("#currentMode").html(result.mode);
					$("#modeMsg").html(result.msg);
				},
				error:function(err){
					console.log(err);
					$("#currentMode").html(err.mode);
					$("#modeMsg").html(err.status + " -- " + err.msg);
				}
			});
		}
		function onPedal(start){
			let strokeRpmValue = getStrokeRpmValue();
			$.ajax({
				url: "rs485/pedal",
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify({ "start":start, "strokeRpm":strokeRpmValue }),
				dataType: "json",
				success: function (result){
					console.log(result);
					$("#pedalStatus").html(result.pedalStatus);
					$("#pedalMsg").html(result.msg);
				},
				error:function(err){
					console.log(err);
					$("#pedalStatus").html(err.mode);
					$("#pedalMsg").html(err.status + " -- " + err.msg);
				}
			});
		}
		function onSubmit(){
			let manualKeyValue = getManualKeyValue();
			let manualValueValue = getManualValueValue();
			history.pushState(null,"","?manualKey=" + manualKeyValue + "&manualValue=" + manualValueValue);
			$("#status").html("");
			$.ajax({
				url: "rs485/set",
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify({ manualKey : manualKeyValue, manualValue: manualValueValue }),
				dataType: "json",
				success: function (result){
					console.log(result);
					$("#status").html(result.msg);
				},
				error:function(err){
					console.log(err);
					$("#status").html(" Error: " + err.responseJSON.msg);
				}
			})
		}
		function getManualKeyValue(){
			return $("#manualKey").val();
		}
		function getManualValueValue(){
			return $("#manualValue").val();
		}
		function getStrokeRpmValue(){
			return $("#strokeRpm").is(":checked");
		}
		setTimeout(function(){
            window.location.reload(1);
        }, 10000);
		<!--$(document).ready(function() {-->
			<!--var socket = io();-->
			<!--socket.on('connect', function() {-->
				<!--console.log('socket connected');-->
			<!--});-->
			<!--io.connect('http://' + document.domain + ':' + location.port + '/rs485socket');-->
			<!--socket.on('rs485MonUpdate', function(msg){-->
				<!--console.log(msg);-->
				<!--$('#log').append('<p>Received' + msg.data + '</p>');-->
			<!--});-->
		<!--});-->
	</script>
</head>
<body>
	<h1>iFit Shortbus (RS-485) Manager</h1>
	<p>This page automatically refreshes every 10 seconds... for now, until someone gets sockets working. #inner-sourcing. You can safely refresh it yourself sooner via the browser.</p>
	<h2>Mode</h2>
	<p>
		The Pi can operate in two modes.
		<ul>
			<li><b>Monitor</b> - Both ends of the cable are plugged into the Pi and you just want to monitor what is coming across the bus.</li>
			<li><b>Spoofer</b> - Only the console end of the cable is plugged into the Pi and you want the Pi to pretend to be the hardware like the tach and incline motor(s).</li>
		</ul>
		<button id="monitor">Monitor</button>&nbsp;<button id="spoofer">Spoofer</button>&nbsp;<button id="stopOperation">Stop</button><br>
		<br>
		{% if currentModeStr %} 
		<b>Current Mode:</b>&nbsp;<span id="currentMode">{{currentModeStr}}</span><br>
		{% else %}
		<b>Current Mode:</b>&nbsp;<span id="currentMode"></span><br>
		{% endif %}
		<span id="modeMsg"></span>
	</p>
	<h2>Pedaler</h2>
	You can set the target RPM/speed by sending 5102 and the value you want via Manual Values below.<br>
	Stroke RPMs <input type="checkbox" id="strokeRpm" value="{{strokeRpm}}"><br>
	<button id="startPedal">Start</button>&nbsp;<button id="stopPedal">Stop</button><br>
	{% if targetRpm %} 
	<b>Target RPM:</b>&nbsp;<span id="targetRpm">{{targetRpm}}</span><br>
	{% else %}
	<b>Target RPM:</b>&nbsp;<span id="targetRpm"></span><br>
	{% endif %}
	{% if pedalStatus %} 
	<b>Pedal Status:</b>&nbsp;<span id="pedalStatus">{{pedalStatus}}</span><br>
	{% else %}
	<b>Pedal Status:</b>&nbsp;<span id="pedalStatus"></span><br>
	{% endif %}
	<span id="pedalMsg"></span>
	<br>
	<h2>Manual Values</h2>
	<p>The key should be 4 characters. The first two are the address and the second two are the command. See the <a href="https://github.com/ifit/SparkyWikiJS/blob/8afbadd93fd92aa286250f388dc60aeea42580d2/icon-protocols/shortbus.md" target="_blank" rel="noopener noreferrer">Shortbus Wiki</a> to find the various addresses and commands within each address. Setting a value does not guarantee it will be written/applied. It will only be applied the next time it is asked for by the primary device on the bus. And, it might get overwritten by the primary if it decides to. For example, if you try to set the incline to 150 it will not get applied because the console buttons and wolf are the only things that can set the incline and it just gets applied to the motor which the Pi is pretending to be.</p>
	Key: <input type="text" id="manualKey" value="{{manualKey}}"><br>
	Value: <input type="text" id="manualValue" value="{{manualValue}}"><br>
	<button id="submit">Send</button>&nbsp;<span id="status"></span><br>
	<br>
	<h2>Keys &amp; Values</h2>
	<p>These are the values that have been written to different addresses/commands on the bus.</p>
	<table id="statusTable" style="width:90%;">
		<thead>
			<tr>
				<th>Key</th>
				<th>Feature</th>
				<th>Command Name</th>
				<th>Value</th>
			</tr>
		</thead>
		{% if data %}
		<tbody>
			{% for key, value in data.items() %}
			<tr>
				<td title="First two digits are the address. Second two are the command.">{{key | b_to_str}}</td>
				<td>{{value.addr_str}}</td>
				<td>{{value.cmd_str}}</td>
				<td title="This is the decimal value.">{{value.data_str}}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>
	<br>
	<br>
	<a href='/'><button>Home</button></a>
</body>
</html>
